:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --accent-color: #0091ff;
	--secondary-accent-color: #1f5e8f;
    --border-color: #eee;
    --meta-color: #888;
    --max-width: 700px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Yu Mincho";
    line-height: 1.8;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.container {
    max-width: var(--max-width);
    width: 100%;
}

.entry-header {
    margin-bottom: 4rem;
    border-bottom: 1px solid #000;
    padding-bottom: 2rem;
}

.meta-info {
    font-family: sans-serif ;
    font-size: 0.75rem;
    color: var(--meta-color);
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    letter-spacing: 0.1em;
}

.category {
    font-weight: bold;
    color: var(--accent-color);
    text-transform: uppercase;
}

.entry-title {
    font-size: 1.8rem;
    margin: 0 0 1.5rem 0;
    border-left: 4px solid var(--accent-color);
    padding-left: 1rem;
    line-height: 1.2;
}

.section-title {
    font-size: 1.6rem;
    color: var(--accent-color);
    margin-bottom: 3rem;
    letter-spacing: 0.2em;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
}

.section-title::after {
    content: attr(data-en);
    display: block;
    font-size: small;
    letter-spacing: 0.1em;
    color: var(--meta-color);
    margin-top: 0.5rem;
}

.entry-description {
    background: transparent;
    padding: 1rem 0;
    border-left: none;
    font-style: normal;
    border-top: 1px double var(--border-color); 
}
.word-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin: 0;
}

.word-card {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1.5rem;
}

.word-term {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--secondary-accent-color);
    margin-bottom: 0.5rem;
}

.word-definition {
    font-size: 0.95rem;
    margin-left: 0;
    color: #555;
}

.entry-footer {
    margin-top: 8rem;
    padding-top: 2rem;
    border-top: 1px solid var(--text-color);
}

.afterword {
    font-size: 0.9rem;
    color: var(--meta-color);
    line-height: 2;
}

.afterword p:first-child {
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--text-color);
}


.nav-back { margin: 0rem; }
.nav-back a { color: #aaa; text-decoration: none; font-size: 0.9rem; transition: color 0.2s; }
.nav-back a:hover { color: var(--accent-color); }